<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}
      {{ page.title }} - {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/glc.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/navbar.css' | relative_url }}">

  {% if page.page_css %}
    <link rel="stylesheet" href="{{ page.page_css | relative_url }}">
  {% endif %}
</head>