<nav class="glc-navbar">
  <div class="glc-navbar-inner">
    <a href="{{ '/' | relative_url }}" class="glc-brand">
      <img src="{{ '/assets/GLC_Logo.png' | relative_url }}" alt="Global Light Commons">
    </a>

    <div class="glc-nav-links">
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/research/' | relative_url }}">Research</a>
      <a href="{{ '/team/' | relative_url }}">Team</a>
      <a href="{{ '/advisory-board/' | relative_url }}">Advisory Board</a>
      <a href="{{ '/news/' | relative_url }}">News & Events</a>
      <a href="{{ '/resources/' | relative_url }}">Resources</a>
      <a href="{{ '/contact/' | relative_url }}">Contact</a>
      <a class="nav-microgrant" href="{{ '/microgrant-programme/' | relative_url }}">
        Microgrant Programme
      </a>
    </div>
  </div>
</nav>